<!DOCTYPE html>
<html>

<head>
  <title>ToDo</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body class="m-1">
  <h3 class="bg-primary p-3">Adam's To Do List</h3>
  <div class="my-1">
    <input class="form-control" />
    <button class="btn btn-primary mt-1">Add</button>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buy flowers</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Get shoes</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Collect tickets</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Call Joe</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>
</body>

</html>